@import "./_colours";

html * {
   font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
    color: $wec-c-red;
}

a {
    color: $wec-c-red;
    text-decoration: none !important;
}

a:hover {
  color: $wec-c-red;
  text-decoration: underline !important;
}

.container {
    width: 1170px;
}