.header {
    background: url('/build/images/bg.png');
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header-inner-container {
    @extend .container;
}

.header-logo {
    width: 200px;
}

.header-search {
    
}

#header-search {
    
}

.header-search__form-input {
    
}

.header-search__form-submit {
    
}