{% extends 'base.html.twig' %}

{% set breadcrumbs = {
    "members_area_home": "Home",
    "sermons_home": "Sermons"
} %}

{% block title %}Add Public Sermons{% endblock %}

{% block content %}
    <div class="container">

        <h1>Create new PublicSermon</h1>

        {{ include('public_sermon/_form.html.twig') }}

        <a href="{{ path('public_sermon_index') }}">back to list</a>
    </div>
{% endblock %}
