{% extends 'base.html.twig' %}

{% block title %}New Series{% endblock %}
{% block covid %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Create new Series</h1>

        {{ include('series/_form.html.twig') }}

        <a href="{{ path('series_index') }}">back to list</a>
    </div>
{% endblock %}
