{% extends 'base.html.twig' %}

{% set breadcrumbs = { "Home": "members_area_home" } %}

{% block title %}Members Area{% endblock %}

{% block content %} 
    <div class="container">
        {% for key,submenu in menuList %}
            <h1>{{ key }}</h1>
            <div class="menu-row">

                {%  for value,params in submenu %}
                    {% if params is iterable %}
                        {% set path = params.path %}
                        {% set alt = params.alt %}
                        {% set img = params.img %}
                    {% else %}
                        {% set path = params %}
                        {% set alt = "" %}
                        {% set img = "build/images/search.svg" %}
                    {% endif %}

                    {{ include('components/menu-item.html.twig', {'path': path, 'alt': alt, 'asset': asset(img), 'heading': value}) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
