{% extends 'base.html.twig' %}

{% set breadcrumbs = { 
    "members_area_home": "Home",
    "contact_form": "Contact Us", 
    "contact_form_complete": "Form Submitted"
} %}

{% block title %}Contact Us - submitted{% endblock %}

{% block content %}
    <div class="container">
        Your request has been submitted. We will get back to you shortly. <a href="{{ path('members_area_home') }}">Continue to home</a>
    </div> <!-- /container -->
</form>
{% endblock %}