{% extends 'base.html.twig' %}

{% set breadcrumbs = { 
    "members_area_home": "Home",
    "questions_home": "Children's talk questions and answers"
} %}
{% block title %}Children's talk question and answers{% endblock %}

{% block content %} 
    <div class="container">
        <div class="col-md-12">
            <h1>Children's talk questions and answers</h1>
        </div>
        <div class="menu-row">
            {% for entity in entities %}

                {% if entity.current %}
                    {% set inner = '
                            <div style="
                                position: absolute;
                                top: -25px;
                                font-style: italic;
                                left: 25px;
                                color: black;">
                                Current Series
                            </div>
                    ' %}
                {% else %}
                    {% set inner = "" %}
                {% endif %}



                {{ include('components/menu-item.html.twig', 
                    {
                        'path': path('questions_list_by_id', 
                            { 'id': entity.id }
                        ), 
                        'asset': asset('build/images/bible.svg') , 
                        'heading': entity.number ~ ". " ~ entity.name,
                        'inner': inner
                    }) 
                }}                
            {% endfor %}
        </div>
    </div>
{% endblock %}
