<div class="menu-item">
    <a class="menu-item--link" href="{{ path }}">
        <img class="menu-item--img" alt="" src="{{ asset }}">
        <span class="menu-item--heading">{{ heading }}</span>
    </a>
</div>